@import '../../styles/variables.scss';

.dropdownDiv {
  & > .dropdownSelect {
    min-height: 4rem;
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 0px;
    padding-right: 1.875rem;
    padding-left: 1.875rem;
    border: 1px solid transparent;
    border-radius: 6.25rem;
    background-color: #f9fafb;
    color: #0f437f;
    font-size: 18px;
    line-height: 1.111em;
    appearance: none;
  }
}
