@import '../../styles/variables.scss';
.navLink {
  line-height: 1.111em;
  font-weight: 700;
  color: $Neutral700 !important;
  text-decoration: none !important;
}

@media screen and (max-width: $breakpointLgForMw) {
  .navLink {
    font-size: 2rem;
  }
}
@media screen and (max-width: $breakpointMdForMw) {
  .navLink {
    font-size: 1.875rem;
  }
}
@media screen and (max-width: $breakpointSmForMw) {
  .navLink {
    font-size: 1.75rem;
  }
}
