@import '../../styles/variables.scss';

.card,
.cardHover {
  overflow: hidden;
  box-shadow: 0 5px 15px 0 rgb(30 61 96 / 3%);
  border-radius: 2rem;
  background-color: $Neutral100;
  display: flex;
  transition-duration: 300ms;

  & > img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    transition-duration: 300ms;
  }
  & > div {
    display: flex;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
  }
}
.cardHover:hover {
  cursor: pointer;
  transform: translate3d(0, -10px, 0.01px);
  & > img {
    transform: scale(1.03);
  }
}
.perkCard {
  max-width: 340px;
  & .imagePerk {
    margin-bottom: 2.438rem;
  }
  & .subTitlePerk {
    color: $Neutral100 !important;
    margin-bottom: 1rem;
  }
  & .paragraphPerk {
    margin-bottom: 0;
    color: $Neutral300;
  }
}
@media screen and (min-width: $breakpointLg) {
  .card,
  .cardHover {
    & > div {
      padding-top: 1.5rem;
      padding-right: 2rem;
      padding-bottom: 2rem;
      padding-left: 2rem;
    }
  }
}
@media screen and (min-width: $breakpointSm) {
  .card,
  .cardHover {
    & > div {
      padding-top: 1rem;
      padding-right: 1.5rem;
      padding-bottom: 1.5rem;
      padding-left: 1.5rem;
    }
  }
}
@media screen and (max-width: $breakpointLgForMw) {
  .perkCard {
    display: flex;
    max-width: none;
    justify-content: center;
    align-items: center;
    text-align: left;
    & .imagePerk {
      width: 100%;
      max-width: 230px;
      margin-right: 1.875rem;
      margin-bottom: 0;
    }
    & .perkContent {
      max-width: 540px;
    }
  }
}
@media screen and (max-width: $breakpointMdForMw) {
  .perkCard {
    & .imagePerk {
      max-width: 192px;
      margin-right: 0;
      margin-bottom: 1.875rem;
    }
    & .subTitlePerk {
      margin-bottom: 0.625rem;
      font-family: auto;
    }
  }
}
@media screen and (max-width: $breakpointSmForMw) {
  .perkCard {
    text-align: center;
    flex-direction: column;
    & .imagePerk {
      max-width: 185px;
    }
    & .subTitlePerk {
      margin-bottom: 0.375rem;
    }
  }
}
