@import '../../styles/variables.scss';
.upcomingEvents {
  padding: 11.5rem 0;
  background-color: $Neutral200;
  & > .container {
    max-width: 1209px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1.5rem;
    flex: 1;
    & > .header {
      display: flex;
      margin-bottom: 5rem;
      justify-content: space-between;
      align-items: center;
      & > .head {
        font-family: auto;
      }
    }
    & > .list {
      display: grid;
      grid-auto-columns: 1fr;
      grid-column-gap: 1rem;
      grid-row-gap: 3rem;
      grid-template-rows: auto;
      & > .cardMain {
        display: flex;
        border-radius: 1.25rem;
        &:hover {
          & > .cardBox {
            & .contentTopLeft {
              & img {
                transform: scale(1);
              }
            }
          }
        }
        & > .imageDiv {
          max-width: 567px;
          display: flex;
          // flex: 0 0 auto;
        }
        & > .cardBox {
          display: flex;
          text-align: left;
          padding: 4rem 3rem;
          justify-content: space-between;

          & > .box {
            display: flex;
            flex-direction: column;
            align-items: baseline;
            margin-right: 1rem;

            & > .cardTitle {
              margin-top: 0;
            }
            & > .para {
              margin: 0;
            }
            & > .time {
              width: 100%;
              display: flex;
              align-items: flex-end;

              & > .contentTopLeft {
                display: flex;
                align-items: flex-start;
                gap: 0.5rem;

                & > .eventDay {
                  font-weight: 700;
                  flex-wrap: wrap;
                  display: flex;
                }
              }
              & > .mobileWrapper {
                display: none;
              }
            }
            & > .category {
              position: absolute;
              left: 1.5rem;
              top: 1.5rem;
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 1rem;
              & > .buttonWhite {
                background-color: $Neutral100;
                color: $Neutral700;
                padding: 1rem;
                & > p {
                  display: flex;
                  gap: 5px;
                }
                &:hover {
                  opacity: 1;
                  transform: scale(1);
                  background-color: $Neutral100;
                }
              }
            }
          }
          & > .mobileWrapper {
            text-align: center;
            & > .month {
              margin-bottom: 1rem;
              color: $Primary1;
              font-size: 0.875rem;
              line-height: 1.143em;
              font-weight: 700;
              letter-spacing: 0.06em;
              text-transform: uppercase;
            }
            & > .date {
              color: $Neutral700;
              font-size: 3rem;
              line-height: 1em;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpointLg) {
  .upcomingEvents {
    padding: 9rem 0;
    & > .container {
      flex-direction: column;
      align-items: stretch;
      & > .header {
        margin-bottom: 4rem;
      }
      & > .list {
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
        & > .cardMain {
          flex-direction: column;
          & > .imageDiv {
            max-width: 100%;
            display: contents;
          }
          & > .cardBox {
            & > .box {
              & > .category {
                left: 1.25rem;
                top: 1.25rem;
                flex-direction: column;
                align-items: stretch;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: $breakpointMd) {
  .upcomingEvents {
    padding: 7rem 0;
    & > .container {
      & > .header {
        margin-bottom: 3.5rem;
        flex-direction: column;
        align-items: stretch;
      }
      & > .list {
        grid-row-gap: 2.5rem;
        & > .cardMain {
          & > .cardBox {
            padding: 2.5rem 2rem 3rem;
            justify-content: space-evenly;

            & > .box {
              & > .time {
                margin-bottom: 1.25rem;
                align-items: flex-start;
                justify-content: space-between;

                & > .contentTopLeft {
                  flex-direction: column;
                  align-items: flex-start;
                }
                & > .mobileWrapper {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  & > .month {
                    margin-bottom: 1rem;
                    color: $Primary1;
                    font-size: 0.875rem;
                    line-height: 1.143em;
                    font-weight: 700;
                    letter-spacing: 0.06em;
                    text-transform: uppercase;
                  }
                  & > .date {
                    color: $Neutral700;
                    font-size: 3rem;
                    line-height: 1em;
                    font-weight: 700;
                  }
                }
              }
            }
            & > .mobileWrapper {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: $breakpointSm) {
  .upcomingEvents {
    padding: 6rem 0;
    & > .container {
      padding: 0 1rem;
      & > .header {
        margin-bottom: 3rem;
      }
      & > .list {
        & > .cardMain {
          & > .cardBox {
            padding: 2rem 1.25rem 2.5rem;
            & > .box {
              margin-right: 0;
              & > .category {
                & > .buttonWhite {
                  padding: 0.8rem;
                  & > p {
                    font-size: 0.875rem;
                  }
                }
              }
              & > .time {
                margin-bottom: 1rem;
                flex-direction: row;
                justify-content: space-between;
                & > .contentTopLeft {
                  margin-right: 1rem;
                }
                & > .mobileWrapper {
                  & > .date {
                    font-size: 1.875rem;
                  }
                  & > .month {
                    margin-bottom: 0.5rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
