@import '../../styles/variables.scss';

.cardResources {
  transition: box-shadow 300ms ease, transform 300ms ease,
    -webkit-transform 300ms ease;
  flex-direction: column;
  min-height: 100%;
  border-radius: 20px;
  color: $Neutral600;
  transform-style: preserve-3d;
}
.cardIcon {
  display: flex;
  gap: 0.5rem;
}
.iconTitle {
  margin-bottom: 0;
}
.cardPostDate {
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.125em;
  font-weight: 700;
  letter-spacing: -0.02em;
}
.cardPost {
  margin: 0;
}

@media screen and (max-width: $breakpointMdForMw) {
  .cardPostDate {
    margin-bottom: 1rem;
  }
}
