@import '../../styles/variables.scss';
.container {
  max-width: 1209px;
  margin: auto;
  padding: 5rem 1rem;
  & .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }
  & .cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 160px);
    gap: 2rem;

    & .fullCard {
      grid-row: 3 span;
    }
    // grid-auto-columns: 1fr;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: auto auto;
    // grid-row-gap: 16px;
    // grid-column-gap: 16px;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: auto;
    & .sideDiv {
      display: grid;
      grid-auto-columns: 1fr;
      // grid-column-gap: 1rem;
      grid-row-gap: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      & .anchor {
        height: 1rem;
      }
      & .sideCardDiv {
        display: flex;
        min-height: 12rem;
        max-height: 12rem;
        & .blogCard {
          padding: 1rem 0rem 1rem 1rem;
          display: flex;
          align-items: center;
          width: 100%;
          max-width: 296px;
          padding: 31px 25px 31px 27px;

          p {
            margin: 0;
          }
          h3 {
            margin: 0;
          }
        }
      }
    }
  }
  & .cardDiv {
    display: flex;
    position: relative;
    flex-direction: column;
    max-height: 36rem;
    width: 100%;
    & .blogCard {
      padding: 1rem;
    }
    & .designbtn {
      position: absolute;
      flex-direction: row;
      gap: 0.5rem;
      top: 1.5rem;
      right: 2rem;
      display: flex;
      padding: 1rem 1.5rem;
      align-items: center;
      border-radius: 10rem;
      background-color: $Neutral100;
      color: $Neutral700;
      font-size: 1rem;
      line-height: 1rem;
      font-weight: 700;
    }
  }
}
@media screen and (max-width: $breakpointMd) {
  .sideDiv {
    & .anchor {
      min-height: 13rem;
    }
  }
}
@media screen and (max-width: $breakpointSm) {
  .container {
    & .main {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
    }
    .cards {
      grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
      & .sideDiv {
        grid-gap: 2rem;
        & .anchor {
          min-height: 18rem;
        }
        & .sideCardDiv {
          min-height: 18rem;
          max-height: 18rem;
          display: flex;
          flex-direction: column;
          & .blogCard {
            max-width: fit-content;
          }
        }
      }
    }
  }
}
