@import '../../styles/variables.scss';

.individualBlog {
  position: relative;
  overflow: hidden;
  padding: 0rem 2rem;
  padding-top: 9rem;
  padding-bottom: 12rem;
  & .middleRound {
    right: -15rem;
    bottom: 547px;
    z-index: -1;
    width: 451px;
    min-height: 451px;
    min-width: 451px;
    border-radius: 1000px;
    background-color: $Secondary2;
    position: absolute;
  }
  & .imgDiv {
    position: relative;
    max-width: 1209px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1.5rem;
    flex: 1;
    & .img {
      border-radius: 2rem;
    }
    & .shape1 {
      left: -17rem;
      top: -2rem;
      z-index: -1;
      width: 548px;
      min-height: 548px;
      min-width: 548px;
      border-radius: 62rem;
      background-color: $Secondary3;
      position: absolute;
    }
    & .shape2 {
      position: absolute;
      z-index: -2;
      top: -9rem;
      left: -20rem;
      right: -20rem;
      min-height: 300px;
      background-color: $Primary1;
    }
  }
  .blogSection {
    max-width: 800px;
    margin: 0 auto !important;
    & h1 {
      font-family: $newsReaderFont;
    }
    & .author {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & .info {
        margin-left: 2rem;
        & .name {
          margin: 0;
        }
      }

      & .avatar {
        display: flex;
        & .avtrImg {
          & img {
            border-radius: 50% !important;
          }
        }
      }
      & .button {
        margin-bottom: 0.5rem;
        margin: 2rem 0rem;
        padding: 1rem 1.5rem;
        background-color: $Neutral100;
        border: 1px solid $Neutral300;
        box-shadow: 0 5px 15px 0 rgb(30 61 96 / 3%);
        & > p {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          color: $Neutral700;
          text-transform: none;
        }
        &:hover {
          border-color: $Primary1;
          background-color: $Primary1;

          & > p {
            color: $Neutral100;
            & > .marketing {
              & > path {
                fill: $Neutral100;
              }
            }
          }
        }
      }
    }
    & .avatarCard {
      margin: 3rem 0;
      padding: 1rem;
      & .avtrImg {
        & img {
          border-radius: 50% !important;
        }
      }
      & .authInfo {
        margin-left: 2rem;
      }
      & .name {
        margin: 1rem auto;
      }
      & .mr {
        margin-right: 0.6rem;
      }
    }
    & .divider {
      margin: 5rem auto;
    }
  }

  & .blogContentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & div {
      display: 'flex';
      flex-direction: 'column';
      max-width: '800px';
    }
    & h2 {
      margin-bottom: 8px;
      font-family: $newsReaderFont;
      color: $Neutral800;
      font-size: 38px;
      line-height: 1.289em;
      font-weight: 600;
    }
    & h3 {
      margin-bottom: 20px;
      font-family: $newsReaderFont;
      color: $Neutral700;
      font-size: 24px;
      line-height: 1.5em;
      font-weight: 600;
    }
    & h4 {
      margin-bottom: 20px;
      font-family: $newsReaderFont;
      color: $Neutral700;
      font-size: 20px;
      line-height: 1.5em;
      font-weight: 600;
    }
    & blockquote {
      padding: 4rem;
      border-left: 11px solid #f99d77;
      border-radius: 10px 20px 20px 10px;
      background-color: #fff;
      box-shadow: 0 5px 15px 0 rgb(30 61 96 / 3%);
      font-size: 24px;
      line-height: 1.583em;
      margin: 3rem -3rem;
    }
    & img {
      width: 800px;
      height: 400px;
      border-radius: 2rem;
    }
  }
}

@media screen and (max-width: $breakpointXl) {
  .individualBlog {
    padding-bottom: 8rem;
    & .middleRound {
      right: -5rem;
      bottom: -50px;
      width: 350px;
      min-height: 350px;
      min-width: 350px;
    }
    .imgDiv {
      margin-right: 0;
      margin-left: 0;
      padding: 0;
      & > .shape1 {
        top: -9rem;
        left: -18rem;
      }
    }
  }
}

@media screen and (max-width: $breakpointLg) {
  .individualBlog {
    .imgDiv {
      flex-direction: column;
      align-items: stretch;
      margin-bottom: 3rem;
      & > .shape1 {
        left: -20.5rem;
        top: -10rem;
        width: 438px;
        min-height: 438px;
        min-width: 438px;
      }
      & .shape2 {
        min-height: 200px;
      }
    }
    .blogSection {
      max-width: 800px;
      margin: 0 auto;
      & .blogContentWrapper {
        & div {
          padding: 0 3rem;
        }
      }
      & .author {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        & .info {
          margin-left: 2rem;
          & .name {
            margin: 0;
          }
        }

        & .avatar {
          display: flex;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpointMd) {
  .individualBlog {
    & .blogSection {
      & .blogContentWrapper {
        & div {
          min-width: 500px;
          padding: 0 3rem;
          & img {
            height: 250px;
            width: 500px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpointSm) {
  .individualBlog {
    padding: 4rem 1rem;
    & .middleRound {
      right: -5rem;
      bottom: -50px;
      width: 300px;
      min-height: 300px;
      min-width: 300px;
    }
    .imgDiv {
      margin-bottom: 3rem;
      & .shape1 {
        left: -7rem;
        top: -5rem;
        width: 170px;
        min-height: 170px;
        min-width: 170px;
      }
      & .shape2 {
        min-height: 250px;
      }
    }
    .blogSection {
      & .blogContentWrapper {
        & div {
          min-width: 300px;
          padding: 0;
          & img {
            height: 150px;
            width: 300px;
          }
        }
      }
      & .author {
        & .avatar {
          flex-direction: column;
          margin-top: 1rem;
          gap: 1rem;
        }
      }
      & .avatarCard {
        flex-direction: column;

        & .authInfo {
          & .buttonDiv {
            display: flex;
          }
        }
      }
    }
  }
}
