@import '../../styles/variables.scss';

.individualBlog {
  position: relative;
  overflow: hidden;
  padding-top: 9rem;
  padding-bottom: 12rem;
  & .imgDiv {
    position: relative;
    max-width: 1209px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1.5rem;
    flex: 1;
    & .img {
      border-radius: 1.25rem;
    }
    & .shape1 {
      left: -20.5rem;
      bottom: -1.25rem;
      z-index: -1;
      width: 548px;
      min-height: 548px;
      min-width: 548px;
      border-radius: 62rem;
      background-color: $Secondary3;
      position: absolute;
    }
    & .shape2 {
      top: 3.75rem;
      right: -14rem;
      z-index: -1;
      width: 448px;
      min-height: 448px;
      min-width: 448px;
      border-radius: 61rem;
      background-color: $Secondary2;
      position: absolute;
    }
  }
  .blogSection {
    max-width: 800px;
    margin: 0 auto;
    & .author {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & .info {
        margin-left: 2rem;
        & .name {
          margin: 0;
        }
      }

      & .avatar {
        display: flex;
      }
      & .button {
        margin-bottom: 0.5rem;
        margin: 2rem 0rem;
        padding: 1rem 1.5rem;
        background-color: $Neutral100;
        border: 1px solid $Neutral300;
        box-shadow: 0 5px 15px 0 rgb(30 61 96 / 3%);
        & > p {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          color: $Neutral700;
          text-transform: none;
        }
        &:hover {
          border-color: $Primary1;
          background-color: $Primary1;

          & > p {
            color: $Neutral100;
            & > .marketing {
              & > path {
                fill: $Neutral100;
              }
            }
          }
        }
      }
    }
    & .avatarCard {
      & .authInfo {
        margin-left: 2rem;
      }
      & .name {
        margin: 1rem auto;
      }
      & .mr {
        margin-right: 0.6rem;
      }
    }
    & .divider {
      margin: 5rem auto;
    }
  }
}

@media screen and (max-width: $breakpointLg) {
  .individualBlog {
    .imgDiv {
      flex-direction: column;
      align-items: stretch;
      margin-bottom: 3rem;
      & > .shape1 {
        left: -20.5rem;
        bottom: 3rem;
        width: 438px;
        min-height: 438px;
        min-width: 438px;
      }
      & .shape2 {
        top: 2.25rem;
        right: -9.75rem;
        width: 358px;
        min-height: 358px;
        min-width: 358px;
      }
    }
  }
}

@media screen and (max-width: $breakpointMd) {
  .individualBlog {
    .imgDiv {
      margin-bottom: 3rem;
      & .shape1 {
        left: -15rem;
        bottom: 7.5rem;
        width: 350px;
        min-height: 350px;
        min-width: 350px;
      }
      & .shape2 {
        top: 7.5rem;
        right: -11rem;
        width: 286px;
        min-height: 286px;
        min-width: 286px;
      }
    }
  }
}
