@import '../../styles/variables.scss';
.titlePerks {
  margin-bottom: 58px !important;
  color: $Neutral100 !important;
  font-family: auto;
}
@media screen and (max-width: $breakpointLgForMw) {
  .titlePerks {
    margin-bottom: 50px !important;
  }
}
@media screen and (max-width: $breakpointMdForMw) {
  .titlePerks {
    margin-bottom: 40px !important;
  }
}
