@import '../../styles/variables.scss';

.paragraph {
  margin-bottom: 0;
}
.cardOffice {
  transition: border-color 300ms ease;
  border: 1px solid $Neutral300;
  max-width: 303px;
  margin-right: 1.25rem;
  padding: 2.5rem 2rem 2.5rem;
  display: block;
}
.cardOfficeIcon {
  width: 64px !important;
  min-height: 64px !important;
  min-width: 64px !important;
  border-radius: 1000px;
}
.officeTitle {
  margin-bottom: 1rem;
  margin-top: 0;
}
.officeLink {
  margin-bottom: 1rem;
  color: $Neutral600 !important;
  font-size: 1rem;
  line-height: 1.125em;
  letter-spacing: -0.02em;
  text-decoration: none !important;
}
.officeAddress {
  max-width: 201px;
  font-size: 0.938rem;
  line-height: 1.6em;
}
.officeImage {
  margin-top: -6.75rem !important;
}
@media screen and (max-width: $breakpointLgForMw) {
  .cardOffice {
    max-width: 576px;
    margin-right: 0;
  }
  .officeAddress {
    max-width: none;
  }
}
@media screen and (max-width: $breakpointMdForMw) {
  .cardOffice {
    padding-top: 1.75rem;
    padding-bottom: 2rem;
  }
  .officeImage {
    margin-top: -4rem !important;
  }
}
@media screen and (max-width: $breakpointSmForMw) {
  .cardOffice {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .officeTitle {
    margin-bottom: 0.75rem;
  }
  .officeImage {
    margin-top: -2rem !important;
  }
}
