@import '../../styles/variables.scss';

.paragraph {
  margin-bottom: 0px;
}
.cardOffice {
  transition: border-color 300ms ease;
  border: 1px solid #e7eaee;
  max-width: 303px;
  margin-right: 20px;
  padding: 38px 32px 40px;
  display: block;
}
.cardOfficeIcon {
  width: 64px !important;
  min-height: 64px !important;
  min-width: 64px !important;
  border-radius: 1000px;
}
.officeTitle {
  margin-bottom: 14px;
  margin-top: 0;
}
.officeLink {
  margin-bottom: 15px;
  color: #62778f !important;
  font-size: 16px;
  line-height: 1.125em;
  letter-spacing: -0.02em;
  text-decoration: none !important;
}
.officeAddress {
  max-width: 201px;
  font-size: 15px;
  line-height: 1.6em;
}
.officeImage {
  margin-top: -108px !important;
}
@media screen and (max-width: $breakpointLgForMw) {
  .cardOffice {
    max-width: 576px;
    margin-right: 0px;
  }
  .officeAddress {
    max-width: none;
  }
}
@media screen and (max-width: $breakpointMdForMw) {
  .cardOffice {
    padding-top: 28px;
    padding-bottom: 30px;
  }
  .officeImage {
    margin-top: -65px !important;
  }
}
@media screen and (max-width: $breakpointSmForMw) {
  .cardOffice {
    padding-right: 25px;
    padding-left: 25px;
  }
  .officeTitle {
    margin-bottom: 10px;
  }
  .officeImage {
    margin-top: -33px !important;
  }
}
