@import './variables.scss';
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: $kumbhFont;
  color: $Neutral600;
  font-size: $fs-body;
  line-height: 1.667em;
}
p {
  margin-bottom: 20px;
  margin-top: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

$xs: 10px;
$small: 25px;
$medium: 50px;
$large: 75px;
$xlarge: 100px;
$xxlarge: 150px;

@mixin space($type: margin, $direction: all, $amount: $medium) {
  @if $type == padding {
    @if $direction == all {
      padding: $amount;
    } @else if $direction == top {
      padding-top: $amount;
    } @else if $direction == left {
      padding-left: $amount;
    } @else if $direction == right {
      padding-right: $amount;
    } @else if $direction == horizontal {
      padding-right: $amount;
      padding-left: $amount;
    } @else if $direction == vertical {
      padding-top: $amount;
      padding-bottom: $amount;
    } @else {
      padding-bottom: $amount;
    }
  } @else {
    @if $direction == all {
      margin: $amount;
    } @else if $direction == top {
      margin-top: $amount;
    } @else if $direction == left {
      margin-left: $amount;
    } @else if $direction == right {
      margin-right: $amount;
    } @else if $direction == horizontal {
      margin-right: $amount;
      margin-left: $amount;
    } @else if $direction == vertical {
      margin-top: $amount;
      margin-bottom: $amount;
    } @else {
      margin-bottom: $amount;
    }
  }
}
// body {
//   @include space(margin, horizontal, $large);
// }
.slick-slider .slick-slide {
  padding: 0 1rem;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  overflow: visible;
}
