$breakpointSm: 576px;
$breakpointMd: 768px;
$breakpointLg: 992px;
$breakpointXl: 1200px;
$breakpointSmForMw: 575px;
$breakpointMdForMw: 767px;
$breakpointLgForMw: 991px;
$breakpointXlForMw: 1199px;
$Primary1: #064ea4;
$Secondary1: #e1edfb;
$Secondary2: #fcdf69;
$Secondary3: #f99d77;
$Neutral800: #0f437f;
$Neutral700: #1e3d60;
$Neutral600: #62778f;
$Neutral500: #8096b0;
$Neutral400: #becad7;
$Neutral300: #e7eaee;
$Neutral200: #f9fafb;
$Neutral100: #ffffff;
$indigo: #6610f2;
$purple: #6f42c1;
$orange: #fd7e14;
$green: #28a745;
$lightgray: #cccccc;
$gray: #6c757d;
$gray-dark: #343a40;
$success: #020202;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$newsReaderFont: Newsreader, sans-serif;
